body{
    position: relative;
    height: 100vh;
}
.bbb{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 61%;
}
.bbb img{
    width: 100%;
    height: 100%;
}
.img-con{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    width: 39%;
}
.two{
    max-width: 100%;
}
section .cont h1{
    font-size: 55px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Sans";
}
section .cont h1 span{
    color: #F19A9A;
    font-weight: 100;
    font-family: "light";
}
section .cont p {
    color: #F19A9A;
    width: 38%;
    font-weight: 600;
    font-family: "Sans";
}
section form input{
    width: 45%;
    height: 50px;
    color: #F19A9A;
    border:1px solid #F19A9A;
    outline: none;
}

section form input::placeholder{
    color: #F19A9A;
    
}
section form{
    position: relative;
    display: inline;
}

section form button{
    width: 80px;
    height: 50px;
    background-color: #F19A9A;
    border: none;
    position: absolute;
    right: 0px;
}
.attribution { font-size: 15px}

@font-face{
    font-family: "Sans";
    src:url(../font/JosefinSans-Regular.ttf);
    
}
@font-face{
    font-family: "light";
    src:url(../font/JosefinSans-Light.ttf);
}

@media (max-width:990px){
    .bbb{
        display: none;
    }
    .one{
        display: none;
    }
    .two{
        display: block !important;
        width:100% ;
    }
    .img-con{
        position: static;
        height: auto;
        width: 100%;
    }
    section {
        text-align: center;
    }
    section .cont p {
        width: 80%;
        margin: auto;
    }
    section form input{
        width: 75%;
    }
}

/*
#F19A9A